@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signinManager

<ul class="navbar-nav">
    @if (signinManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark"  title="Manage">Hello @User.Identity!.Name!</a>
        </li>
        <li class="nav-item">
     
                 
                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
           
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registration">Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>